# Build Output & Intermediate Directories
bin/
build/
obj/
SapiManager/Properties
.vs/
.worktrees/
*.user
*.suo
*.userosv
*.tmp
*.bak
ipch/
*.VC.db
*.opendb
packages/
.github/
EdgeTtsProvider/
SapiSsmlParser.Cs/
